/* .dropdown-button {
    -fx-background-color: #007bff; 
    -fx-text-fill: white;
    -fx-padding: 5px 15px;
    -fx-background-radius: 4px;
    -fx-font-size: 14px;
    -fx-border-color: transparent;
    -fx-cursor: hand;
}

.dropdown-button:hover {
    -fx-background-color: #0056b3;
}


.context-menu .menu-item {
    -fx-padding: 5px 15px;
    -fx-font-size: 14px;
    -fx-background-color: white;
    -fx-text-fill: #333333;
}

.context-menu .menu-item:hover {
    -fx-background-color: #007bff;
    -fx-text-fill: white;
} */

.buttonNav {
    -fx-background-color: #cf341e;
    -fx-text-fill: #fff;
    -fx-text-alignment: left;
    -fx-font-size: 16px;
    -fx-font-family: "montserat"; 
}

.buttonNav:hover {
    -fx-background-color: #fb705d8e;
    -fx-text-fill: #fff;
}

.buttonNav:pressed {
    -fx-background-color: #fb705d8e;
    -fx-text-fill: #fff;
}

.buttonNav:focused {
    -fx-background-color: #fb705d8e;
    -fx-text-fill: #ffffff;
}

/* .logout{
    -fx-background-color: #fb705d8e;
    position: relative;
    top: 0;
    margin-top: 100px;
    -fx-text-fill: #fff;
    -fx-font-size: 16px;
    -fx-font-family: "montserat"; 

} */

.Btn {
    -fx-background-color: #ff725e;
    -fx-border-color: #FFF;
    -fx-text-fill: #FFF;
}

.Btn:hover {
    -fx-background-color: #cf341e;
    -fx-text-fill: #FFF;
}

.Btn:pressed {
    -fx-background-color: #fb705d8e;
    -fx-text-fill: #FFF;
}


.table-view .column-header,
.table-view .column-header-background .filler {
    -fx-cell-size: 20;
    -fx-background-color: #ff725e;
}

.table-view .column-header .label {

    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-alignment: CENTER_LEFT;
}

.table-view .cell {
    -fx-cell-size: 30;
    -fx-alignment: center-left;
    -fx-text-fill: #000000;
    -fx-alignment: CENTER_LEFT;
}

.table-row-cell:selected {
    -fx-background-color: rgb(127, 172, 243);
}

.table-row-cell:selected .text {
    -fx-fill: white;

}


.table-view .increment-button, .table-view .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 2em;

}

.table-view .scroll-bar:horizontal .track,
.table-view .scroll-bar:vertical .track {
    -fx-background-color: transparent;
    -fx-border-color: derive(#2D75E8, 80%);
    -fx-background-radius: 2em;
    -fx-border-radius: 2em;
}

.table-view .scroll-bar:horizontal .thumb,
.table-view .scroll-bar:vertical .thumb {
    -fx-background-color: derive(#2D75E8, 90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;

}


.chart {
    -fx-padding: 10px;
    -fx-background-color: transparent;
    -fx-legend-visible: false;
}

.chart-plot-background {
    -fx-background-color: transparent;
}

.chart-pie {
    -fx-border-color: derive(-fx-pie-color, 1%);
    -fx-border-width: 0px;
}

.data0.chart-pie {
    -fx-pie-color: #364FCD;
}

.data1.chart-pie {
    -fx-pie-color: #54AAF3;
}

